@model VideoStore.Models.Rental

@{
                /**/

                ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<h1>It can only be accesed by Admin.<br /> So go Contact one of them.</h1>

